<h1 class="text-center">Zona VIP... y tienes access!</h1>
<hr>
<br>

<div class="row mx-3">
  <div class="card col-md-3  text-center">
    <img class="card-img-top" src="/assets/img/datosPersonales.png" alt="imagenPerfil">
    <a routerLink="/dash/perfil" class="stretched-link text-dark">
      <div class="card-body">
        <h5 class="card-title">Mis datos</h5>
        <p class="card-text">Consulta y modifica tus datos personales.</p>
      </div>
    </a>
  </div>
  <span class="col ">&nbsp;</span>
  <div  *ngIf="!esSuper" class="card col-md-3 text-center">
    <img class="card-img-top" src="/assets/img/dolly.png" alt="imagenPerfil">
    <a routerLink="/dash/clonar" class="stretched-link text-dark">
      <div class="card-body">
        <h5 class="card-title">Ovejitas Dolly</h5>
        <p class="card-text">Clonarme <b><i>n</i></b> veces para most longer listados.</p>
      </div>
    </a>
  </div>
  <div  *ngIf="esSuper" class="card col-md-3 text-center">
    <img class="card-img-top" src="/assets/img/people.png" alt="imagenPerfil">
    <a routerLink="/dash/usuarios" class="stretched-link text-dark">
      <div class="card-body">
        <h5 class="card-title">Listado de usuarios</h5>
        <p class="card-text">Consulta el listado de todos los usuarios registrados.</p>
      </div>
    </a>
  </div>
  <span class="col">&nbsp;</span>
  <div  class="card col-md-3 text-center">
    <img class="card-img-top" style="" src="/assets/img/salir.png" alt="imagenPerfil">
    <a routerLink="/logout" class="stretched-link text-dark">
      <div class="card-body">
        <h5 class="card-title">Cerrar sesión</h5>
        <p class="card-text">Cierra esta aburrida sesión de usuario iniciada.</p>
      </div>
    </a>
  </div>
</div>
