<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="https://www.uned.es" class="navbar-brand">UNED</a></div>

    <ul class="navbar-nav">
      <li *ngIf="loginService.isUserLoggedIn()"><a  routerLink="/" class="nav-link">View Admins</a></li>
      <li *ngIf="loginService.isUserLoggedIn()"><a  routerLink="/register" class="nav-link">Add New Admin</a></li>
      <li *ngIf="!loginService.isUserLoggedIn()"><a  routerLink="/login" class="nav-link">Login</a></li>
      <li *ngIf="loginService.isUserLoggedIn()"><a  routerLink="/logout" class="nav-link">LogOut</a></li>


    </ul>

  </nav>

</header>
