<!--Peter fight-->
<!--10/05/2020-->
<!--HTML DEFAULT-->

<div>
<!--  PRIMERA IMAGEN CON EFECTO PARALLAX-->
  <div id="box-2">
    <div class="row mx-0">
      <span class="col-1"></span>
      <div class="col-10 text-center" style="margin-top:15%">
        <h1 class="mt-5 d-block">Situación COVID-19</h1>
        <h2 class="text-white text-center mt-5">Toda la información sobre el coronavirus en tiempo real. Fuentes oficiales.</h2>
      </div>
      <span class="col-1"></span>
    </div>
  </div>
<!--  BLOQUE ICONO UNED-->
  <div class="brands text-center">
    <img class="d-inline m-5"
         src="https://www.uned.es/universidad/.resources/UNED/webresources/img/logo_uned.gif">
  </div>
<!--  ULTIMA IMAGEN PARALLAX-->
  <div id="box-3">
    <div class="row mx-0">
      <span class="col-1"></span>
      <div class="col-10" style="margin-top:10%">
        <h1 class="mt-5 d-block">Proyecto desarrollado por dos estudiantes del Máster en Diseño y
          Desarrollo Web (UNED)</h1>
      </div>
      <span class="col-1"></span>
    </div>
  </div>
</div>
