<div id="wrapper">
  <div></div>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div style="filter:grayscale(0.4);background-image: url('assets/img/COVID.jpg');background-size: cover;background-position: center;position: absolute;width: 100%;height: 100%;opacity: 1;/*background-color: black;*/"></div>
      <div class="container-fluid" style="height: 100vh;">
        <div class="container mt-5 text-center">
          <div class="mx-auto" data-text="404" style="font-size: 100px;">
            <p class="m-0" style="color: rgb(255,255,255);filter: blur(0px) brightness(200%) contrast(182%);font-family: Audiowide, cursive;"><strong>404</strong></p>
          </div>
        </div>
        <div style="height: 5em;"></div>
        <div class="text-right float-right" >
          <h1 class="mb-0 text-right" style="color: rgb(254,253,253);filter: brightness(200%) contrast(200%) hue-rotate(0deg);font-family: Nunito, sans-serif;font-weight: bolder;">Página no encontrada...</h1>
          <div style="height: 2em;"></div><a routerLink="/" style="font-size: 44px;color: rgb(255,255,255);font-weight: bolder;opacity: 1;filter: saturate(200%);">← Vuelve</a></div>
      </div>
    </div>
  </div>
</div>

