<!--Peter Fight-->
<!--10/05/2020-->
<!--HTML de la página de mapas-->

<div class="testimonials-clean mt-5">
  <div class="container">
<!--    TÍTULO Y ENTRADILLA-->
    <div class="intro">
      <br>
      <h2 class="text-center">Sobre nosotros </h2>
      <p class="text-center">Somos dos estudiantes del Máster en Diseño y Desarrollo Web (UNED). Este proyecto lo motiva la resolución de un ejercicio práctico.</p>
    </div>
<!--    CARDS DE LOS USUARIOS-->
    <div class="row people">
      <div class="col-md-6 col-lg-4 item">
        <div class="author"><img class="rounded-circle" src="assets/img/victor.webp">
          <h5 class="name">Víctor</h5>
          <p class="title">Thinking mind.</p>
        </div>
        <div class="box">
          <p class="description">Guru developer que ha pensado y hecho las partes difíciles.</p>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="author"><img class="rounded-circle" src="assets/img/PeterFight.png">
          <h5 class="name">Peter Fight</h5>
          <p class="title">Fool stonecutter.</p>
        </div>
        <div class="box">
          <p class="description">Proletario concienzudo y no sindicado.</p>
        </div>

      </div>
      <div class="col-md-6 col-lg-4 item">
        <div class="author"><img class="rounded-circle" src="assets/img/redeskako.png">
          <h5 class="name">Redeskako</h5>
          <p class="title">Loved leader.</p>
        </div>
        <div class="box">
          <p class="description">Quien evaluará la práctica... Sólo cabe decir cosas buenas de él.</p>
        </div>

      </div>
    </div>
  </div>
</div>
